<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#121516] dark group/design-root overflow-x-hidden" style='font-family: "Space Grotesk", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2c3135] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 6H42L36 24L42 42H6L12 24L6 6Z" fill="currentColor"></path></svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Bloggr</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">Home</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Categories</a>
              <a class="text-white text-sm font-medium leading-normal" href="/myblogs/">My Blogs</a>
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#b2d1e5] text-[#121516] text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">{% if request.user.is_authenticated %}<a href="/create/">New Post</a>
                  {% else %}<a href="/auth/register/">Create Account</a>
                  {% endif %}
                </span>
            </button>
            <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#2c3135] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">
                  {% if request.user.is_authenticated %}<a href="/auth/logout">Logout
                  {% else %}<a href="/auth/login">Login
                  {% endif %}
                </a>

                </span>
              </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB4xjbBOKd93fhDg5bvcDi8VNRH-QDFBtSaGUV8VXV40UjQGyjzhMeiDFh-V4vwaQ1PzDjvxCdEiJo_LA--mSOjZ6FQI0o1vVI29hvMjXHpZ7AQXTuunu9atuHT5-HhksHP_2leIut2XEcnP-VMJ0clPi9ijY0xmAQ5zwDQqA1FgRuP4_uayq1mKbXi9QTboaqpzxeYdOvjZMUGDzFJDD_HA5XsnZTfA4LLouZ8Vjf182ngUcO8NlklhW_b0i4ZmzDCwVBhMwimBMI");'
            ></div>
          </div>
        </header>
        <div id="alert-container" class="px-40 pt-5">
            {% if messages %}
                {% for message in messages %}
                    <div class="p-4 mb-4 rounded-lg flex items-center justify-between
                                {% if message.tags == 'success' %}bg-green-500 text-white
                                {% elif message.tags == 'error' %}bg-red-500 text-white
                                {% elif message.tags == 'info' %}bg-blue-500 text-white
                                {% else %}bg-gray-700 text-white{% endif %}">
                        <div>{{ message }}</div>
                        <span class="cursor-pointer font-bold text-xl leading-none ml-4" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %} 
        {% endblock %}
      </div>
    </div>
  </body>
</html>
